Minimum Requirements:

firebase>=3.0.0
 --> pip install firebase==3.0.0

json
 --> Comes with the Python Package

time
 --> Comes with the Python Package

sys
 --> Comes with the Python Package

pycryptodome>=3.4.3
 --> pip install pycryptodome==3.4.3

